.top-content {
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-bottom: 1px #f1f1f1 solid;
}

.input-content {
  margin: 0px 5px;
}

.input-content input {
  margin-left: 5px;
}

.content {
  padding: 10px 20px;
}

.content label {
  margin-left: 5px;
}